@page
@model PersonalManager.Pages_Gateways.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Gateway</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gateway.URL" class="control-label"></label>
                <input asp-for="Gateway.URL" class="form-control" id="GatewayURL"/>
                <span asp-validation-for="Gateway.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gateway.Title" class="control-label"></label>
                <input asp-for="Gateway.Title" class="form-control" id="GatewayTitle"/>
                <span asp-validation-for="Gateway.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gateway.Description" class="control-label"></label>
                <input asp-for="Gateway.Description" class="form-control" id="GatewayDescription"/>
                <span asp-validation-for="Gateway.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
        $('#GatewayURL').on('change',function(e){

            var url = '@Url.Content("~/MetaData/byURL/")' + encodeURIComponent(e.target.value);

            $.get(url,function(data){
              if(data.title){
                $('#GatewayTitle').val(data.title);
              }

              if(data.description){
                $('#GatewayDescription').val(data.description);
              }
            });
        });
</script>
}
